<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Título</title>
    <link rel="stylesheet" type="text/css" href="{% static 'SiteY/meus_dados.css' %}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="{% url 'siteY:homepage' %}">
                <img src="{% static 'SiteY/images/filme.jpg' %}">
            </a>
        </div>
        <div class="search-bar">
            <form action="{% url 'siteY:pesquisar' %}" method="GET">
                <input type="text" id="search" name="q" placeholder="Pesquisar...">
                <button type="submit">Buscar</button>
            </form>
        </div>
       <div class="pub-button">
                <button onclick="window.location.href='{% url 'siteY:addfilme' %}'">Adicionar Filme</button>
            </div>
            <div class="pub-button">
                <button onclick="window.location.href='{% url 'siteY:addserie' %}'">Adicionar Série</button>
            </div>
            <div class="pub-button">
                <button onclick="window.location.href='{% url 'siteY:listar_filmes' %}'">Filmes</button>
            </div>
            <div class="pub-button">
                <button onclick="window.location.href='{% url 'siteY:listar_series' %}'">Séries</button>
            </div>
        <div class="home">
            <a href="{% url 'siteY:homepage' %}">
                <img src="{% static 'SiteY/images/home.png' %}" alt="Home" width="35" height="35">
            </a>
        </div>
        <div class="perfil">
            <a href="{% url 'siteY:perfil' %}">
                <img src="{% static 'SiteY/images/perfil.jpg' %}" alt="Home" width="35" height="35">
            </a>
        </div>
        <div class="logout">
            <a href="{% url 'siteY:login' %}">
                <img src="{% static 'SiteY/images/logout.png' %}" alt="Logout" width="35" height="35">
            </a>
        </div>
    </header>

    <h1>Meus Dados</h1>

    <form method="post">
        {% csrf_token %}
        <label for="Email">Email:</label>
        <input type="email" id="Email" name="Email" value="{{ user.email }}"><br>

        <label for="PrimeiroNome">Primeiro Nome:</label>
        <input type="text" id="PrimeiroNome" name="PrimeiroNome" value="{{ user.first_name }}"><br>

        <label for="UltimoNome">Último Nome:</label>
        <input type="text" id="UltimoNome" name="UltimoNome" value="{{ user.last_name }}"><br>

        <label for="Password">Senha:</label>
        <input type="password" id="Password" name="Password"><br>

        <!-- Campos adicionais do perfil -->
        <label for="Nacionalidade">Nacionalidade:</label>
        <input type="text" id="Nacionalidade" name="Nacionalidade" value="{{ pessoa.nacionalidade }}"><br>

        <label for="Contacto">Contacto:</label>
        <input type="text" id="Contacto" name="Contacto" value="{{ pessoa.contacto }}"><br>

        <label for="Localidade">Localidade:</label>
        <input type="text" id="Localidade" name="Localidade" value="{{ pessoa.localidade }}"><br>

        <button type="submit">Gravar</button>
    </form>
</body>
</html>