<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Recuperar Senha</title>
    <link rel="stylesheet" href="{% static 'siteY/login.css' %}">
</head>
<body>

{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<div class="password-reset-container">
    <h2>Recuperar Senha</h2>
    <form method="post" action="{% url 'siteY:recuperarPassword' %}">
        {% csrf_token %}
        <input type="text" placeholder="Nome de utilizador" name="Username" required>
        <br><br>
        <input type="email" placeholder="Email" name="Email" required>
        <br><br>
        <input type="submit" class="submit" value="Enviar Email de Recuperação">
    </form>
</div>

</body>
</html>
